<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzb.mapper.HeroMapper">

    <select id="getAllHero" resultType="com.lzb.pojo.Hero">
        select * from tb_hero
    </select>
</mapper>